<style>
* {
    box-sizing: border-box;
    font-family: "Arial", cursive "Helvetica";
}
.row {
  width: 100%;
  border: 10px;
}
/********** Header style **********/

h1 {
  margin-bottom: 15px;
  text-align: center; 
  font-size: 175%
}
/********** Box style **********/
p {
  position: relative;
  border: 1px solid black;
  background-color: grey;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
} 

/********** Right top text style **********/
a {
  /*position: absolute;
  border: 1px solid black;
  top: 0px;
  right: 0px;
  font-size: 125%*/

  width: 120px;
  margin-top: 0;
  text-align: center;
  border:1px solid black;
  padding: 2px;
  float: right;
  font-size: 125%

}

#a1 { 
  background-color: red;
}

#a2 {
  background-color: blue;
}

#a3 {
  background-color: green;
}
/********** Inside box text style **********/
b {
 position: relative;
 width: 70%;
 float: left;
 margin-left: 15px;
 margin-top: 10px
 }



/********** Large devices only **********/
@media (min-width: 992px) {
  .col-lg-4 {
   float: left;
  }
  .col-lg-4 {
    width: 33.33%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-6, .col-md-12 {
    float: left;
  }
   .col-md-6 {
    width: 50%;
  }
   .col-md-12 {
    width: 100%;
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
}
</style>
